<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2><%= pluralize(person.errors.count, "error") %> prohibió que este persona se guarde:</h2>
      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :first_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :apellido %>
    <%= form.text_field :last_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :CUIT %>
    <%= form.text_field :cuit, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :Direccion %>
    <%= form.text_field :address, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :Telefono %>
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Aceptar' %>
  </div>
<% end %>
