<% if notice %>
 <div class="alert alert-success" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   <%= notice %>
 </div>
<% end %>

<section>
  <div class="container">
    <div class="row">
      <div class="tab-content" style="width: 100%;">
        <h1>Datos Personales</h1>
        <table>
          <thead>
            <tr>
              <th><strong>Nombre</strong></th>
              <th><strong>Apellido</strong></th>
              <th><strong>CUIT</strong></th>
              <th><strong>Dirección</strong></th>
              <th><strong>Telefono</strong></th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <span><%= @person.first_name %></span>
                </td>
                <td>
                  <span><%= @person.last_name%></span>
                </td>
                <td>
                  <span><%= @person.cuit%></span>
                </td>
                <td>
                  <span><%= @person.address%></span>
                </td>
                <td>
                  <span><%= @person.phone%></span>
                </td>
                <td>
                  <%= link_to 'Editar', edit_person_path(@person) %>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      <!--end of items-->
    </div>
  </div>
</section>

<section>
  <div class="tab-content">
    <h1> Turnos</h1>
    <table>
      <thead>
        <strong>
          <tr>
            <th>Numero</th>
            <th>Nombre y Apellido</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>sucursal</th>
            <th colspan="3"></th>
          </tr>        
        </strong>
      </thead>

      <tbody>
        <% @person.turns.each do |turn| %>
          <tr>
            <td><%= turn.number %></td>
            <td><%= turn.person.full_name %></td>
            <td><%= turn.turn_date %></td>
            <td><%= turn.turn_time %></td>
            <td><%= turn.place %></td>
            <td><%= link_to 'Ver', turn_path(turn) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class="tab-content">
    <h1> Expedientes</h1>

    <table>
      <thead>
        <strong>
          <tr>
            <th>Numero</th>
            <th>Nombre y Apellido</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th colspan="3"></th>
          </tr>        
        </strong>
      </thead>

      <tbody>
        <% @person.dockets.each do |docket| %>
          <tr>
            <td><%= docket.number %></td>
            <td><%= docket.person.full_name %></td>
            <td><%= docket.description %></td>
            <td>
              <span class= "badge <%= docket.states %>" >
                <%= docket.states %>
              </span>
            </td>
            <td><%= link_to 'Ver', docket_path(docket) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>