<div class="cl-sidebar">
  <div class="cl-toggle">
    <i class="fa fa-bars"></i>
  </div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <%= link_to root_path do %>
          <div class="sidebar-logo">
            <div class="logo text-center">
              <div class="row">
                <div class="hidden-lg hidden-md visible-xs-12">
                  <%= image_tag 'logo.png', class: "logo-mini"%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="side-user">
          <div class="info">
            <p>
              <i class="fa fa-user"></i>
              Panel de Administrador
            </p>
          </div>
        </div>
        <ul class="cl-vnavigation">
          <li>
            <a href="#">
              <i class="fa fa-group"></i>
              <span>Personas</span>
            </a>
            <ul class="sub-menu">
              <li class="">
                <%= link_to "Lista de Personas", people_path %>
              </li>
              <li>
                <%= link_to "Nuevo Persona", new_person_path %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar fa-fw"></i>
              <span>Turnos</span>
            </a>
            <ul class="sub-menu">
              <li class="">
                <%= link_to "Lista de Turnos", turns_path %>
              </li>
              <li>
                <%= link_to "Nuevo Turno", new_turn_path %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-archive fa-fw"></i>
              <span>Expedientes</span>
            </a>
            <ul class="sub-menu">
              <li class="">
                <%= link_to "Lista de Expedientes", dockets_path %>
              </li>
              <li>
                <%= link_to "Nuevo Expediente", new_docket_path %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
